.titleTable{
	width: 99%;
	border-collapse: collapse; 
	margin: 5 auto;
	border:1px solid #BCD5E5;
}
.titleTable th{
	height: 40px;
	text-align: left;
	/*background-color: #40B2F2;*/
	padding: 5px;
	background: url('../images/box_top.png') 0px 0px repeat-x;
}

.titleTable td{
	height: 30px;
	text-align: left;
	padding: 8px;
}