html, ul, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, td, img, dl, dt, dd,span,marquee{margin: 0;padding: 0;border: 0;font-size: 100%;font-weight:normal;font-family: inherit;font-style: normal;}
html{-webkit-text-size-adjust:none;}/*chrome font-size<12px */  
body{font-size:14px; margin: 0 auto;padding: 0;border: 0;font-family:"Microsoft YaHei"; background-color:#e5e8ef; color:#444444}
input,textarea{font-family:"Microsoft YaHei";}
ul,li{list-style-type:none;}
select,input{vertical-align:middle;}
img {border:none;vertical-align:middle}
a{text-decoration: none; color:#000;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;-ms-transition: 0.3s;transition: 0.3s;}
a:hover {text-decoration: none; color:#ff0000}
.clear {clear:both;}
.fl {float:left;}
.fr {float:right;}
.clear{clear: both;}
.clearfix::after{height: 0px; clear: both; display: block; visibility: hidden; content: ".";}
.clearfix{-ms-zoom: 1;}



/* ͷ�� */
.head{height:62px; color:#fff; background-color:#2c333d}
.head .logo{display:inline-block; height:62px; width:230px;
background:url(../images/logos.jpg) center center no-repeat  #f15723;

padding-left:55px;
background: url("../images/logos.jpg") no-repeat ;
background-size:230px;
font-size: 40px;
}
.head .user_info{color:#FFFFFF; float:right; margin-top:16px; padding-right:10px;padding-left:10px;  margin-right:15px}
.head .user_info img{height:31px; width:31px; border-radius:50%; margin-right:20px;}
.head .icon{float:right;margin-top:19px; margin-right:40px}
.head .icon img{height:24px; width:24px}
.head .search{float:right;margin-top:19px; margin-right:40px}
.head .search input{height:29px; line-height:29px; border:0; border-radius:15px; padding-left:15px; width:268px; background:url(../images/icon_4.png) no-repeat 94% center #fff}



/* ���˵� */
.subNavBox{width:230px; height:auto !important;min-height:528px; margin-top:8px}
.subNavBox h1{height:50px; padding-left:37px; color:#fff; background: url(../images/iocn_1.png) no-repeat 11px center #2c333d; position:relative;width:230px; cursor:pointer}
.subNavBox h1 .line{height: 1px; border-top: 1px solid #41515a;text-align: center;position:absolute; top:50%; left:0;width:186px; margin-left:12px;}
.subNavBox h1 .line span{position: absolute;top: -12px; left:50%; margin-left:-38px;display:block;background: #2c333d;padding: 0 6px; color:#fff;font-size:15px}
.subNav{cursor:pointer;font-size:15px;color:#e5e8ef;background:url(../images/arrow_down.png) no-repeat #2c333d;background-position:92% 50%; height:40px; line-height:40px; text-align:left; padding-left:25px; }
.subNav img{vertical-align:middle; margin-right:18px; margin-left:0px;}
.subNav:hover{color:#e5e8ef; background-color:#38414e;}
.currentDd{color:#22976e}
.currentDt{background-image:url(../images/arrow_up.png);background-color:#38414e; color:#f15723}
.navContent{display: none;}
.navContent li a{display:block;height:36px;line-height:36px;color:#e5e8ef; text-align:left; background-color:#2c333d; padding-left:60px; }
.navContent li a:hover{background-color:#262b33; padding-left:60px; border-left:5px solid #f15723;}
.subNav_1{cursor:pointer;font-size:15px;color:#e5e8ef; background-color:#2c333d;height:40px; line-height:40px; text-align:left; padding-left:25px; }
.subNav_1 img{vertical-align:middle; margin-right:18px; margin-left:0px;}
.subNav_1:hover{color:#e5e8ef; background-color:#38414e;}

.progressbar{position:fixed; bottom:0; left:0; display:block; width:230px; padding:32px 0 40px; background-color:#2c333d;border-top:1px solid #41515a;}
.progressbar dl{height:10px; background-color:#455d67; display:block; border-radius:20px;position:relative; margin-left:24px; width:162px;}
.progressbar dl dt{height:10px; background-color:#f15723; display:block; border-radius:20px; width:0; position:absolute;}
.progressbar dl dd{font-size:14px; position:absolute; top:14px; left:0; color:#e5e8ef;text-align:center;width:100%}


/* ������ */
.nav{color:#444444; line-height:54px;padding-left:19px; height:54px; background:url(../images/nav_line.png) repeat-x; display:block; font-size:15px}
.nav img{padding-bottom:3px; margin-right:10px}
.nav a{color:#444444;}
.nav a:hover{color:#000;}

/* ��� */
.tree{background-color:#ffffff; border-radius:5px; height:97%; position:absolute; border:1px solid #dddddd; width:230px; left:15px;font-size:14px}
.tree h1{color:#333333; padding:16px; font-weight:bold}
.tree h1 a{color:#315ca2}
.tree h1 a:hover{color:#16366b}
.tree ul{padding:0 12px; border-bottom:1px solid #e6e6e6}
.tree li{width:23.33%; margin-right:15%; float:left; color:#999999; text-align:center; font-weight:bold; cursor:pointer; line-height:30px}
.tree li.active,.tree li:hover{color:#333333; border-bottom:3px solid #f15723}
.tree li:last-child{margin-right:0}
/* .tree dl{} */
.tree dl h1{ font-weight:normal;padding:16px 16px 0;line-height:28px}
.tree dl img{margin-right:5px; padding-bottom:3px}
.tree dl a,.tree p a{color:#315ca2; font-weight:bold}
.tree dl a:hover,.tree p a:hover{color:#16366b}
.tree dt{padding-left:35px; line-height:28px}
.tree dd{padding-left:57px; line-height:28px}
.tree dd a{ padding:4px 8px}
.tree dd a.active,.tree dd a:hover{ background-color:#c7daeb;}
.tree dd a.setting{color:#999999; font-size:13px; background-color:#fff; margin-left:5px; padding:0}
.tree dd a.setting:hover{color:#f15723}
.tree p{color:#315ca2; text-align:center; line-height:38px; border-top:1px solid #d8d8d8; position:fixed; bottom:19px; width:230px}


/* ������ */
.con{margin:0 16px; background-color:#ffffff; border-radius:5px; height:97%; position:relative; border:1px solid #dddddd;}
.con h1{font-size:18px; font-weight:bold; color:#333333; padding:16px 18px; margin-bottom:2px}
.con h1 i{font-size:16px; color:#b1b1b8;font-weight:bold;}
.con .m_search{ position:relative;height:34px; display:inline-block }
.con .m_search input{height:34px; line-height:30px; border:0; border-radius:5px; padding-left:10px; width:165px; border:1px solid #d8d8d8; font-size:12px;}
.con .m_search a{position:absolute; right:1px; top:1px;}
.con .m_search a img{border-radius:0 5px 5px 0}
.con .m_select{height:34px; line-height:34px;padding-left:10px; width:165px; border:1px solid #d8d8d8; font-size:12px; display:inline-block; border-radius:5px; position:relative; top:2px; margin-right:8px; background:url(../images/icon_8.jpg) no-repeat 90% center; cursor:pointer}
.m_select_con{position:absolute; top:36px;background-color:#fff; border-radius:4px; width:165px; left:0;border:1px solid #d8d8d8; font-size:12px; display:none}
.m_select_con li{border-bottom:1px solid #d8d8d8; padding-left:10px; cursor:pointer; line-height:35px;}
.m_select_con li:hover{background-color:#f9f9f9}
.m_select_con li:last-child{border-bottom:0}
.m_select_con li.selected{background-color:#f9f9f9;;}
.con .link{font-size:12px;color:#2898e0; margin-right:15px}
.con .link a{color:#2898e0}
.con .paging{height:42px; width:100%; line-height:42px; background-color:#f8f8f8; border-radius:0 0 5px 5px; color:#414141; padding:0 16px 0 20px;font-size:13px}
.con .paging a{width:58px; height:32px; line-height:32px; text-align:center; display:inline-block; background-color:#fff; border:1px solid #d8d8d8; border-radius:4px; position:relative; top:1px; color:#414141; font-size:12px; margin:0 5px}
.con .paging a.disabled{width:58px; height:32px; line-height:32px; text-align:center; display:inline-block; background-color:#fff; border:1px solid #d8d8d8; border-radius:4px; position:relative; top:1px; color:#c7c7c7; font-size:12px; cursor:default}
.con .number{width:46px; height:31px; line-height:26px; text-align:center; display:inline-block; background-color:#fff; border:1px solid #d8d8d8; border-radius:4px; position:relative; top:-2px; color:#414141; font-size:12px; margin:0 5px}
.con .jumping{width:66px; height:31px; line-height:26px; text-align:left; padding-left:12px; display:inline-block; border:1px solid #d8d8d8; border-radius:4px; position:relative; top:-2px; color:#414141; font-size:12px; margin:0 5px;background:url(../images/icon_8.jpg) no-repeat 85% center #fff;}
.con .paging em{margin-right:12px}
.con .paging em img{padding-bottom:2px; margin-right:5px}

.con_1{margin:0 16px;position:relative}
.con_1 li{background-color:#ffffff; border-radius:5px; width:49%; margin-right:2%; display:block; float:left; padding:22px; color:#999999; font-size:12px;}
.con_1 li:last-child{margin-right:0}
.con_1 li h1{font-size:14px; color:#333333; margin-bottom:20px; font-weight:bold}
.con_1 li span{float:left; width:33.33%}
.con_1 li i{font-size:36px; color:#333333; line-height:55px;}
.con_1 li em a{font-size:12px; color:#3487e2;}
.con_1 li em a:hover{color:#215895;}

.con_2{margin:16px;}
.con_2 li{background-color:#ffffff; border-radius:5px; width:100%;display:block; float:left; padding:22px; color:#999999; font-size:12px;}
.con_2 li h1{font-size:14px; color:#333333; margin-bottom:20px; font-weight:bold}
.con_2 li span{float:left; width:16.6%}
.con_2 li i{font-size:36px; color:#333333; line-height:55px;}
.con_2 li em a{font-size:12px; color:#3487e2;}
.con_2 li em a:hover{color:#215895;}
.con_2 dl{background-color:#ffffff; border-radius:5px; width:100%;display:block; float:left; padding:22px; color:#333333; font-size:14px;}
.con_2 dl span{margin-left:50px; font-size:12px; color:#3487e2}

.table,.table td{border-collapse:collapse; vertical-align:middle}
.table th{border-collapse:collapse; vertical-align:middle}
.table th{background-color:#f1f4fb; text-align:left;font-weight:normal; height:34px; color:#5b6885;font-size:13px; text-align:left; font-weight:bold; border-bottom:1px solid #e2e7f4}
.table td{text-align:left;height:52px; line-height:20px; font-size:13px; color:#333333;border-bottom:1px solid #e2e7f4}
.table tr:hover{background:#f8f8f8;}
.table td.border_none{border-bottom:0; text-align:center}
.table th span.checkbox,.table td span.checkbox{width:16px; height:16px; display:inline-block; background-color:#fff; border:1px solid #cccccc; border-radius:4px}

.btn_box{text-align:center}
a.btn{background:#ff9000;color:#fff;text-align:center;display:inline-block;height:38px;line-height:38px;width:138px; border-radius:3px;}
a.btn:hover{background:#f08801; padding-left:10px}
a.btn1{background:#f1d039;color:#fff;text-align:center;display:inline-block;height:38px;line-height:38px;width:138px;border-radius:3px;}
a.btn1:hover{background:#ddbd2b;padding-left:10px}
a.edit,a.del{color:#0b87d6;position:relative; left:0;}
a.edit:hover,a.del:hover{color:#035b93; position:relative; left:5px;} 

.chk_1{display: none;}
.chk_1 + label{background-color: #FFF;border: 1px solid #C1CACA;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 8px;border-radius: 5px;display: inline-block;position: relative;}
.chk_1 + label:active{box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.chk_1:checked + label{background-color: #ECF2F7;border: 1px solid #92A1AC;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);color: #243441;}
.chk_1:checked + label:after{content: '\2714';position: absolute;top: -3px;left: 0px;color: #758794;width: 100%;text-align: center;font-size: 1.2em;padding: 1px 0 0 0;vertical-align: text-top;}





*{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
*::before{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
*::after{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}



.c_align{text-align:center !important}
.style_1{margin-left:48px}
.r_align{text-align:right}
.f_yellow{color:#fffc00 !important}
.f_red{color:#f15723}
.margin_r15{margin-right:15px;}
.margin_r60{margin-right:60px;}
.margin_t30{margin-top:30px;}
.margin_t40{margin-top:40px;}
.padding_b12{padding-bottom:12px !important;}
i,em{font-style:normal}